* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*--------------- header start----------------- */

.headtop {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    align-items: center;
    color: white;
    background-color: #1c1c1c;
    font-size: 13px;
    height: 2rem;
}

.left {
    display: flex;
    gap: 5px;
}

.middle {
    display: flex;
    gap: 5px;
}

.right {
    display: flex;
    gap: 5px;
}

.lefticon {
    color: yellow;
}

.middleicon {
    color: yellow;
}

.righticon {
    color: yellow;
}

.navandlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(62, 50, 50);
    font-weight: 800;
    text-transform: uppercase;
}

.fa-bars {
    font-size: 20px;
    display: none !important;
}

.nav {
    /*   position: relative; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 8vh;
    list-style: none;
}

.backgroundimg {
    background-image: url(hero-bg.jpg);
    /*   background-position: center; */
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 100vh;
}

.textimg {
    display: flex;
    color: whitesmoke;
    align-items: center;
    height: 100vh;
    padding-left: 20vh;
}

.texthead {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texthead h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

h2.yellowtext {
    color: yellow;
}

.texthead p {
    color: rgb(19, 213, 180);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 900px;
}

.imgbtns {
    display: flex;
    gap: 5vh;
    padding: 3vh;
}

.imgbtn1 {
    height: 35px;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    cursor: pointer;
}

.imgbtn1:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.imgbtn2:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.imgbtn2 {
    height: 35px;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    cursor: pointer;
}

/*--------------- header end----------------- */

/*--------------- Main start----------------- */

img {
    height: 100%;
    width: 100%;
}

.aboutimg {
    height: 50vh;
    width: 70vh;
    z-index: -5;
    position: relative;
    left: 65px;
}

.aboutus {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
}

.abouttext {
    width: 35%;
    background-color: rgb(198, 191, 191);
    height: 250px;
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 10px;
    position: relative;
    right: 50px;
    border: 3px solid black;
}

.aboutbtn {
    height: 35px;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    cursor: pointer;
    background-color: rgb(14, 10, 10);
    color: white;
}

.aboutbtn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.ourservices {
    background-color: rgb(30, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0px;



}


.box {
    height: 300px;
    width: 250px;
    background-color: white;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    text-align: center;

}

.fa-house {
    font-size: 30px;
}

.headtext h2 {
    text-transform: capitalize;
    color: white;


}

h2 {
    padding: 20px 0px;
}

h4 {
    text-transform: capitalize;
}

.btn {
    background-color: rgb(255, 255, 14);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(16, 11, 11);

}

.boxservices {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

}

.headtext div {
    width: 60px;
    height: 8px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.headtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img3 {
    height: 100px;
    width: 100px;
}

.img2 img {
    height: 100%;
    width: 100%;
}

.clientcomment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;



}

.underimgtext {
    text-align: center;
    padding: 20px 0px;


}

.underimgtext h5 {
    text-transform: capitalize;
    font-size: 20px;

}

.underimgtext p {
    padding: 20px 0px;
    width: 150vh;
    flex-wrap: wrap;
}

.clients {
    height: 60vh;
    background-color: #fffefe;
}

.clienttext h2 {
    color: white;
}

.contact .form .clienttext h2{
    color: rgb(255, 255, 255);
}


.clienttext {

    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.clienttext div {
    width: 60px;
    height: 8px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clienttext h2{
    color: black;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    align-items: center;
    gap: 10px;
    background: url(about-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-position: center;
    padding: 20px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}





.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/*  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */

input {
    width: 40vw;
    height: 50px;
    padding-left: 50px;
}



button {
    background-color: rgb(255, 255, 14);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(16, 11, 11);
    width: 100px;


}

textarea {
    padding-left: 50px;
    width: 40vw;
    height: 50px;
    padding-top: 15px;


}

.sectionheadtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 10px;

}

.sectionheadtext h4 {
    font-size: 30px;
}


.sectionheadtext p {
    width: 80%;

}

.sectionheadtext div {
    width: 60px;
    height: 8px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.imgboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;


}

.imgbox {
    height: 300px;
    width: 300px;
    position: relative;
}

.minibox {
    position: absolute;
    bottom: 0px;
    background-color: rgba(24, 24, 17, 0.685);
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;


}

.minibox h4 {
    padding: 10px;
}

.btnw {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

}

.footer {
    background-color: rgba(21, 20, 20, 0.961);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 30px;
    color: white;
    flex-wrap: wrap;
}

.footertext {
    display: flex;
    flex-direction: column;
    gap: 13px;


}

.footertext input {
    width: 200px;
    height: 50px;
    border-radius: 50px;

}

.footertext h2 {
    font-size: 35px;
    color: yellow;
}

/*--------------- Main end----------------- */

/* responsive design*/

@media (max-width: 1300px) {
    .backgroundimg {
        background-position: center;
        background-size: 1300px;
    }
}

@media (max-width: 1100px) {
    .abouttext {
        width: 100%;
        margin-left: 0vh;
        gap: 15px;
        right: 0px;
        align-items: center;
        justify-content: center;
    }

    .aboutimg {
        height: 100%;
        width: 100%;
        z-index: -5;
        position: relative;
        left: 0px;
    }

    .aboutus {
        flex-wrap: wrap;
        gap: 20px;
        /*  padding: 0px  200px; */
    }

    .nav nav ul {
        /*  display: none; */
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #1c1c1c;
        color: aliceblue;
        width: 300px;
        left: 0px;
        top: 0px;
        align-items: center;
        padding: 20px;
    }

    .fa-bars {
        display: block !important;
    }
}

@media (max-width: 700px) {
    .nav nav ul {
        display: none;
    }

    .texthead {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 356px;
        text-align: center;
    }

    .textimg {
        display: flex;
        color: whitesmoke;
        align-items: center;
        height: 100vh;
        padding-left: 0vh;
        justify-content: center;
    }

    .imgbtns {
        justify-content: center;
    }

    .backgroundimg {
        background-position: right;
    }


}

@media (max-width: 460px) {
    .headtop {
        font-size: 9px;
    }

    .boxservices {
        justify-content: center;
    }

    .contact {
        background-size: 670px;
    }

    input
   {
        width: 100%;


    }

    textarea{
        width: 62vw;
    }
}


@media(max-width:890px) {
    .underimgtext p {
        width: auto;

    }


}